* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(255, 0, 0, 0.405);
}

header {
    background-color: rgba(255, 0, 0, 0.405);
    height: auto;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navSuperior {
    background-color: rgba(0, 0, 0, 0.475);
    height: 60px;
}

.menu-dropdown{
    position: relative;
    background-color: aliceblue;
    width: 200px;
    display: none;
}

button.meio:active div.menu-dropdown {
    display: block;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.405);
}

.navEsquerdo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 1200px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.405);
    
}

.conteudo {
    background-color: rgba(255, 0, 0, 0.405)    ;
    height: 1200px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width:600px) {
    .main {
        flex-direction: column;
    }
    .navEsquerdo {
        display: row;
        background-color: #181311;
    }
   

}

section {
    margin: 10px;
}

button {

    background-color: rgba(255, 153, 0, 0.585);
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 3px 7px 5px;
    transition: transform 400ms, box-shadow 400ms;
    margin: 5px;
    color: black;
}

button:active {
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}


.loader {
    align-self: center; /* centraliza o elemento na tela */
    position: relative; /* posiciona o elemento em relação ao pai */
    width: 100px; /* largura do elemento */
    height: 100px; /* altura do elemento */
  }
  
  .loader:before , .loader:after{ /* cria dois elementos */
    content: ''; /* adiciona conteúdo ao elemento */
    border-radius: 50%; /* define o elemento como um círculo */
    position: absolute; /* posiciona o elemento em relação ao pai */
    inset: 0; /* define o elemento como ocupando todo o espaço do pai */
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset; /* adiciona sombra ao elemento */
  }
  .loader:after {
    box-shadow: 0 2px 0 #181311 inset; /* adiciona sombra ao elemento */
    animation: rotate 2s linear infinite; /* adiciona animação ao elemento */
  }
  
  @keyframes rotate { /* cria a animação */
    0% {  transform: rotate(0)} /* define o estado inicial da animação */
    100% { transform: rotate(360deg)} /* define o estado final da animação */
  }


footer {
    background-color: rgba(255, 0, 0, 0.405);
    height: 100px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

footer p {
    font-size: x-small;
    text-align: center;
    font-weight: bold;
}